<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camiones/Clientes</title>
</head>
<body>
   <table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre_Camion</th>
            <th>Dia</th>
            <th>Cliente</th>            
        </tr>
    </thead>
    <tbody id="camion_clienteTableBody">
        <!-- Aquí se insertarán los datos dinámicamente -->
    </tbody>
</table>
</body>
<script src="../js/camiones_clientes.js"></script>
</html>